<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント登録</title>
</head>
<body>
    <h2>アカウント登録</h2>
    <form method="post">
        <label for="username">ユーザーネーム:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required><br><br>

        <!-- <label for="place">居住地:</label> -->
        <label for="place">都市を選択してください:</label>
                    <select name="place" id="place">
                        {% for city, code in cities.items() %}
                            <option value="{{ city }}">{{ city }}</option>
                        {% endfor %}
                    </select>
        <!-- <input type="place" id="place" name="place" required><br><br> -->
        <button type="submit">登録</button>
    </form>
    <p>アカウント登録済みの方<a href="{{ url_for('main.login') }}">ログインはこちら</a>.</p>
</body>
</html>
